In [3]:
### 2017년 1월 1일부터 2025년 6월 30일까지 모든 날짜 데이터 만들기 ###
# 2017-01-01 ~ 2025-06-30 을 한 행으로 하는 '날짜' 컬럼 생성, '요일'컬럼에는 해당 날짜가 무슨 요일인지 요일에 해당하는 값 넣어주기
# '../results/공휴일정보_2017_2025.csv'에 해당하는 날짜에 대해 '공휴일'컬럼 만들어서 '../results/공휴일정보_2017_2025.csv'의 '이름' 컬럼 정보를 넣어주기

import pandas as pd

# 전체 날짜 범위로 데이터프레임 생성
date_range = pd.date_range(start='2017-01-01', end='2025-06-30', freq='D')
df = pd.DataFrame({'날짜': date_range})
df['요일'] = df['날짜'].dt.day_name(locale='ko_KR')  # 요일 한글로 
# df['요일'] = df['날짜'].dt.dayofweek.map(['월', '화', '수', '목', '금', '토', '일'])
# df['요일'] = df['날짜'].dt.weekday # 월요일 :0, 화:1, ..., 일:6 숫자로 반환

# 공휴일 정보
holidays = pd.read_csv('../results/공휴일정보_2017_2025.csv', parse_dates=['날짜'], encoding='utf-8-sig')

# 날짜 기준으로 병합 df 기준 left 병합
df = df.merge(holidays[['날짜', '이름']], on='날짜', how='left')
df = df.rename(columns={'이름': '공휴일'})  # 이름 컬럼을 공휴일로 바꿈

df

             날짜   요일  공휴일
0    2017-01-01  일요일   신정
1    2017-01-02  월요일  NaN
2    2017-01-03  화요일  NaN
3    2017-01-04  수요일  NaN
4    2017-01-05  목요일  NaN
...         ...  ...  ...
3100 2025-06-26  목요일  NaN
3101 2025-06-27  금요일  NaN
3102 2025-06-28  토요일  NaN
3103 2025-06-29  일요일  NaN
3104 2025-06-30  월요일  NaN

[3105 rows x 3 columns]

In [4]:
df.to_csv('../results/전체날짜_공휴일포함_2017_2025.csv', index=False)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3105 entries, 0 to 3104
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3105 non-null   datetime64[ns]
 1   요일      3105 non-null   object
 2   공휴일     157 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 72.9+ KB