In [85]:
import pandas as pd

In [86]:
df = pd.read_excel('../data/raw/물재생센터_행정동별.xlsx', engine='openpyxl')
df

     자치구   행정동     처리센터
0    강남구  개포1동  탄천물재생센터
1    강남구  개포2동  탄천물재생센터
2    강남구  개포3동  탄천물재생센터
3    강남구  개포4동  탄천물재생센터
4    강남구  일원본동  탄천물재생센터
..   ...   ...      ...
422  중랑구   묵2동  중랑물재생센터
423  중랑구  망우본동  중랑물재생센터
424  중랑구  망우3동  중랑물재생센터
425  중랑구  신내1동  중랑물재생센터
426  중랑구  신내2동  중랑물재생센터

[427 rows x 3 columns]

In [87]:
df = pd.read_excel(
    '../data/raw/행정구역(동별)_20250807111254.xlsx',
    engine='openpyxl',
    header=2 # 위에 쓸모없는 행 빼고
)

# 병합되어 있는 셀 채우기
df[['동별(1)', '동별(2)', '동별(3)']] = df[['동별(1)', '동별(2)', '동별(3)']].ffill()

# 소계 제외
df_filtered = df[~df['동별(3)'].str.contains("소계")]

# 필요한 컬럼만 선택 및 이름 변경
df_final = df_filtered[['동별(2)', '동별(3)', '면적 (k㎡)']]
df_final.columns = ['행정구', '행정동', '면적_km2']

# 인덱스 리셋
df_final = df_final.reset_index(drop=True)

df_final

c:\Users\user\anaconda3\envs\young\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     행정구   행정동  면적_km2
0    종로구   사직동    1.23
1    종로구   삼청동    1.49
2    종로구   부암동    2.27
3    종로구   평창동    8.87
4    종로구   무악동    0.36
..   ...   ...     ...
421  강동구  둔촌1동    0.92
422  강동구  둔촌2동    1.56
423  강동구   강일동    2.26
424  강동구  상일1동    1.82
425  강동구  상일2동    1.09

[426 rows x 3 columns]

In [88]:
df_final.to_csv('../data/processed/행정동_면적.csv', encoding='utf-8-sig', index=False) # 확인해보니까 종로 1.2.3.4동 이렇게 묶여있는 값들이 있어서 수정 필요

In [89]:
climate = pd.read_csv('../data/processed/climate_add_DI.csv', encoding='utf-8-sig')
climate

,날짜,지점,지점명,평균습도(%),최저습도(%),최고습도(%),습도표준편차,일_평균기온(°C),일_최저기온(°C),일_최고기온(°C),일_일강수량(mm),일_최대순간풍속(m/s),일_평균풍속(m/s),주소,위도,경도,행정구,불쾌지수(DI),불쾌지수등급
0,2017-01-01,400,강남,77.375000,66.0,89.0,7.906038,3.5,-0.4,7.0,0.0,3.3,1.3,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구,40.751419,쾌적
1,2017-01-02,400,강남,76.208333,61.0,90.0,8.885646,6.2,3.7,9.4,0.0,5.8,1.6,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구,45.101876,쾌적
2,2017-01-03,400,강남,58.125000,41.0,77.0,10.165211,4.0,1.1,7.2,0.0,5.6,1.7,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구,43.529875,쾌적
3,2017-01-04,400,강남,57.541667,29.0,78.0,16.944870,5.4,2.5,9.3,0.0,6.5,1.4,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구,45.521719,쾌적
4,2017-01-05,400,강남,54.208333,42.0,62.0,4.539481,5.0,1.6,7.8,0.0,6.5,1.8,서울특별시 강남구 일원동 580 탄천 물재생센터,37.49820,127.08162,강남구,45.281521,쾌적
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83602,2025-06-26,889,현충원,81.958333,65.0,91.0,9.162680,22.3,20.2,26.2,0.5,4.3,0.7,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구,70.736900,약간 불쾌
83603,2025-06-27,889,현충원,73.041667,52.0,90.0,13.845354,25.2,20.1,31.4,0.0,4.1,0.5,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구,74.489477,약간 불쾌
83604,2025-06-28,889,현충원,79.333333,69.0,90.0,8.191547,26.5,23.9,29.8,0.0,4.3,0.7,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구,77.233433,불쾌
83605,2025-06-29,889,현충원,71.291667,52.0,88.0,10.609590,27.2,23.9,32.3,0.0,6.4,1.0,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구,77.334712,불쾌
83606,2025-06-30,889,현충원,70.416667,53.0,87.0,11.772912,28.1,23.8,32.4,0.0,6.2,1.1,서울특별시 동작구 현충로 210 국립서울현충원,37.50036,126.97652,동작구,78.580629,불쾌

In [90]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83607 entries, 0 to 83606
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   날짜             83607 non-null  object
 1   지점             83607 non-null  int64
 2   지점명            83607 non-null  object
 3   평균습도(%)        83607 non-null  float64
 4   최저습도(%)        83607 non-null  float64
 5   최고습도(%)        83607 non-null  float64
 6   습도표준편차         83607 non-null  float64
 7   일_평균기온(°C)     83607 non-null  float64
 8   일_최저기온(°C)     83607 non-null  float64
 9   일_최고기온(°C)     83607 non-null  float64
 10  일_일강수량(mm)     83607 non-null  float64
 11  일_최대순간풍속(m/s)  83606 non-null  float64
 12  일_평균풍속(m/s)    83607 non-null  float64
 13  주소             83607 non-null  object
 14  위도             83607 non-null  float64
 15  경도             83607 non-null  float64
 16  행정구            83607 non-null  object
 17  불쾌지수(DI)       83607 non-null  float64
 18  불쾌지수등급         83607 non-null  object
dtypes: float64(13), int64(1), object(5)
memory usage: 12.1+ MB

In [91]:
climate.columns

Index(['날짜', '지점', '지점명', '평균습도(%)', '최저습도(%)', '최고습도(%)', '습도표준편차',
       '일_평균기온(°C)', '일_최저기온(°C)', '일_최고기온(°C)', '일_일강수량(mm)', '일_최대순간풍속(m/s)',
       '일_평균풍속(m/s)', '주소', '위도', '경도', '행정구', '불쾌지수(DI)', '불쾌지수등급'],
      dtype='object')

In [92]:
climate['불쾌지수등급']

0           쾌적
1           쾌적
2           쾌적
3           쾌적
4           쾌적
         ...
83602    약간 불쾌
83603    약간 불쾌
83604       불쾌
83605       불쾌
83606       불쾌
Name: 불쾌지수등급, Length: 83607, dtype: object

In [93]:
### 필요한 기후 데이터만 필터링, 불쾌지수등급은 object 타입이니까 일단 제거하고 나중에 센터별로 만들어지면 해당 값에 대해 쓰기 ###
# 사용할 컬럼 :  '날짜', '평균습도(%)', '최저습도(%)', '최고습도(%)', '습도표준편차', '일_평균기온(°C)', '일_최저기온(°C)', '일_최고기온(°C)', '일_일강수량(mm)', '일_최대순간풍속(m/s)', '일_평균풍속(m/s)', '행정구', '불쾌지수(DI)', '불쾌지수등급'
# 같은 날짜에 대해 행정구가 겹친다면 평균값 사용 -> 하나의 행정구에 대해 여러 관측 값이 있어도 평균 사용할거라 ㄱㅊ

# 사용할 컬럼
use_columns = [
    '날짜', '행정구',
    '평균습도(%)', '최저습도(%)', '최고습도(%)', '습도표준편차',
    '일_평균기온(°C)', '일_최저기온(°C)', '일_최고기온(°C)',
    '일_일강수량(mm)', '일_최대순간풍속(m/s)', '일_평균풍속(m/s)',
    '불쾌지수(DI)'
]

# 필요한 컬럼만 추출
climate_filtered = climate[use_columns]

# 날짜 + 행정구 단위로 평균값
climate_grouped = climate_filtered.groupby(['날짜', '행정구'], as_index=False).mean()

climate_grouped

,날짜,행정구,평균습도(%),최저습도(%),최고습도(%),습도표준편차,일_평균기온(°C),일_최저기온(°C),일_최고기온(°C),일_일강수량(mm),일_최대순간풍속(m/s),일_평균풍속(m/s),불쾌지수(DI)
0,2017-01-01,강남구,77.375000,66.0,89.0,7.906038,3.50,-0.40,7.00,0.0,3.30,1.30,40.751419
1,2017-01-01,강동구,83.416667,71.0,94.0,8.203481,2.30,-1.90,6.40,0.0,3.20,0.90,38.133814
2,2017-01-01,강북구,78.875000,69.0,89.0,7.097535,3.80,-0.30,7.50,0.0,3.50,0.70,41.066153
3,2017-01-01,강서구,68.208333,60.0,78.0,5.356663,4.80,1.10,7.80,0.0,3.90,1.70,43.675468
4,2017-01-01,관악구,85.708333,68.0,95.0,9.679558,3.55,-0.95,7.65,0.0,5.00,1.35,39.931428
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74304,2025-06-30,영등포구,72.062500,57.0,87.0,10.316960,28.70,25.60,32.70,0.0,6.25,1.60,79.717449
74305,2025-06-30,용산구,70.500000,58.0,83.0,8.732747,28.60,25.70,32.10,0.0,8.90,2.70,79.345870
74306,2025-06-30,은평구,75.500000,60.0,91.0,10.073642,26.90,22.30,31.10,0.0,6.50,1.00,77.398905
74307,2025-06-30,중구,80.500000,61.0,96.0,11.037486,26.80,23.50,31.70,0.0,4.90,0.60,77.854760
74308,2025-06-30,중랑구,66.875000,53.0,79.0,9.275083,28.80,26.00,33.10,0.0,7.10,2.00,79.132275

In [ ]:
### 강수량 정보는 나중에 행정동 면적 계산해서 쓸거니까 따로 뺴기
precipitation = climate_grouped.copy()
precipitation = precipitation[['날짜', '행정구', '일_일강수량(mm)']]
precipitation

               날짜   행정구  일_일강수량(mm)
0      2017-01-01   강남구         0.0
1      2017-01-01   강동구         0.0
2      2017-01-01   강북구         0.0
3      2017-01-01   강서구         0.0
4      2017-01-01   관악구         0.0
...           ...   ...         ...
74304  2025-06-30  영등포구         0.0
74305  2025-06-30   용산구         0.0
74306  2025-06-30   은평구         0.0
74307  2025-06-30    중구         0.0
74308  2025-06-30   중랑구         0.0

[74309 rows x 3 columns]

In [95]:
precipitation.to_csv('../data/processed/강수량.csv', encoding='utf-8-sig', index=False)

In [96]:
center = pd.read_excel('../data/raw/물재생센터별 관할지역.xlsx', engine='openpyxl')
center

      물재생센터  관할지역 전체_일부
0   중랑물재생센터  동대문구    전역
1   중랑물재생센터   중랑구    전역
2   중랑물재생센터   성북구    전역
3   중랑물재생센터   노원구    전역
4   중랑물재생센터   강북구    전역
5   중랑물재생센터   도봉구    전역
6   중랑물재생센터   광진구    전역
7   중랑물재생센터   종로구    일부
8   중랑물재생센터    중구    일부
9   중랑물재생센터   성동구    일부
10  중랑물재생센터  의정부시    일부
11  난지물재생센터   마포구    전역
12  난지물재생센터   용산구    전역
13  난지물재생센터   은평구    전역
14  난지물재생센터  서대문구    전역
15  난지물재생센터   종로구    일부
16  난지물재생센터    중구    일부
17  난지물재생센터   성동구    일부
18  난지물재생센터   고양시    일부
19  탄천물재생센터   강동구    전역
20  탄천물재생센터   송파구    전역
21  탄천물재생센터   강남구    일부
22  탄천물재생센터   서초구    일부
23  탄천물재생센터   하남시    일부
24  탄천물재생센터   과천시    일부
25  서남물재생센터  영등포구    전역
26  서남물재생센터   관악구    전역
27  서남물재생센터   동작구    전역
28  서남물재생센터   구로구    전역
29  서남물재생센터   양천구    전역
30  서남물재생센터   금천구    전역
31  서남물재생센터   강서구    전역
32  서남물재생센터   강남구    일부
33  서남물재생센터   서초구    일부
34  서남물재생센터   광명시    일부

In [97]:
center.columns

Index(['물재생센터', '관할지역', '전체_일부'], dtype='object')

In [98]:
center = center.rename(columns={'관할지역': '행정구'})
center

      물재생센터   행정구 전체_일부
0   중랑물재생센터  동대문구    전역
1   중랑물재생센터   중랑구    전역
2   중랑물재생센터   성북구    전역
3   중랑물재생센터   노원구    전역
4   중랑물재생센터   강북구    전역
5   중랑물재생센터   도봉구    전역
6   중랑물재생센터   광진구    전역
7   중랑물재생센터   종로구    일부
8   중랑물재생센터    중구    일부
9   중랑물재생센터   성동구    일부
10  중랑물재생센터  의정부시    일부
11  난지물재생센터   마포구    전역
12  난지물재생센터   용산구    전역
13  난지물재생센터   은평구    전역
14  난지물재생센터  서대문구    전역
15  난지물재생센터   종로구    일부
16  난지물재생센터    중구    일부
17  난지물재생센터   성동구    일부
18  난지물재생센터   고양시    일부
19  탄천물재생센터   강동구    전역
20  탄천물재생센터   송파구    전역
21  탄천물재생센터   강남구    일부
22  탄천물재생센터   서초구    일부
23  탄천물재생센터   하남시    일부
24  탄천물재생센터   과천시    일부
25  서남물재생센터  영등포구    전역
26  서남물재생센터   관악구    전역
27  서남물재생센터   동작구    전역
28  서남물재생센터   구로구    전역
29  서남물재생센터   양천구    전역
30  서남물재생센터   금천구    전역
31  서남물재생센터   강서구    전역
32  서남물재생센터   강남구    일부
33  서남물재생센터   서초구    일부
34  서남물재생센터   광명시    일부

In [ ]:
# climate_grouped랑 합치기
climate_with_center = pd.merge(
    climate_grouped, center,
    on='행정구',
    how='left'  # → 기후 데이터에 없는 행정구는 NaN으로 남기기
)

In [100]:
climate_with_center.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86672 entries, 0 to 86671
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   날짜             86672 non-null  object
 1   행정구            86672 non-null  object
 2   평균습도(%)        86672 non-null  float64
 3   최저습도(%)        86672 non-null  float64
 4   최고습도(%)        86672 non-null  float64
 5   습도표준편차         86672 non-null  float64
 6   일_평균기온(°C)     86672 non-null  float64
 7   일_최저기온(°C)     86672 non-null  float64
 8   일_최고기온(°C)     86672 non-null  float64
 9   일_일강수량(mm)     86672 non-null  float64
 10  일_최대순간풍속(m/s)  86671 non-null  float64
 11  일_평균풍속(m/s)    86672 non-null  float64
 12  불쾌지수(DI)       86672 non-null  float64
 13  물재생센터          86672 non-null  object
 14  전체_일부          86672 non-null  object
dtypes: float64(11), object(4)
memory usage: 9.9+ MB

In [101]:
climate_with_center

,날짜,행정구,평균습도(%),최저습도(%),최고습도(%),습도표준편차,일_평균기온(°C),일_최저기온(°C),일_최고기온(°C),일_일강수량(mm),일_최대순간풍속(m/s),일_평균풍속(m/s),불쾌지수(DI),물재생센터,전체_일부
0,2017-01-01,강남구,77.375000,66.0,89.0,7.906038,3.5,-0.4,7.0,0.0,3.3,1.3,40.751419,탄천물재생센터,일부
1,2017-01-01,강남구,77.375000,66.0,89.0,7.906038,3.5,-0.4,7.0,0.0,3.3,1.3,40.751419,서남물재생센터,일부
2,2017-01-01,강동구,83.416667,71.0,94.0,8.203481,2.3,-1.9,6.4,0.0,3.2,0.9,38.133814,탄천물재생센터,전역
3,2017-01-01,강북구,78.875000,69.0,89.0,7.097535,3.8,-0.3,7.5,0.0,3.5,0.7,41.066153,중랑물재생센터,전역
4,2017-01-01,강서구,68.208333,60.0,78.0,5.356663,4.8,1.1,7.8,0.0,3.9,1.7,43.675468,서남물재생센터,전역
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86667,2025-06-30,용산구,70.500000,58.0,83.0,8.732747,28.6,25.7,32.1,0.0,8.9,2.7,79.345870,난지물재생센터,전역
86668,2025-06-30,은평구,75.500000,60.0,91.0,10.073642,26.9,22.3,31.1,0.0,6.5,1.0,77.398905,난지물재생센터,전역
86669,2025-06-30,중구,80.500000,61.0,96.0,11.037486,26.8,23.5,31.7,0.0,4.9,0.6,77.854760,중랑물재생센터,일부
86670,2025-06-30,중구,80.500000,61.0,96.0,11.037486,26.8,23.5,31.7,0.0,4.9,0.6,77.854760,난지물재생센터,일부
86671,2025-06-30,중랑구,66.875000,53.0,79.0,9.275083,28.8,26.0,33.1,0.0,7.1,2.0,79.132275,중랑물재생센터,전역

In [102]:
climate_with_center = climate_with_center.replace({
    '물재생센터': {
        '탄천물재생센터': '탄천',
        '중랑물재생센터': '중랑',
        '난지물재생센터': '난지',
        '서남물재생센터': '서남'
    }
})

In [ ]:
# 필요한 컬럼만 추출(강수량은 제외 : 행정동별 면적 비율로 넣어줄거니까)
df = climate_with_center[ [
    '날짜', '물재생센터',
    '평균습도(%)', '최저습도(%)', '최고습도(%)', '습도표준편차',
    '일_평균기온(°C)', '일_최저기온(°C)', '일_최고기온(°C)',
    '일_최대순간풍속(m/s)', '일_평균풍속(m/s)', '불쾌지수(DI)'
]]

# 그룹바이: 날짜 + 물재생센터 기준으로 평균
grouped = df.groupby(['날짜', '물재생센터']).mean().reset_index()

# 피벗: 물재생센터별로 컬럼 펼치기. 날짜를 기준으로 행(row)을 만들고 물재생센터별로 **기후 지표가 열(column)**이 되도록 펼쳐줌
pivoted = grouped.pivot(index='날짜', columns='물재생센터')

# 컬럼 정리: 다중 인덱스를 단일 이름으로
pivoted.columns = [
    f"{center}_{col}" for col, center in pivoted.columns
]

# 인덱스 리셋
pivoted = pivoted.reset_index()

# 소수점 둘째 자리까지 반올림
pivoted.iloc[:, 1:] = pivoted.iloc[:, 1:].round(2)

pivoted

,날짜,난지_평균습도(%),서남_평균습도(%),중랑_평균습도(%),탄천_평균습도(%),난지_최저습도(%),서남_최저습도(%),중랑_최저습도(%),탄천_최저습도(%),난지_최고습도(%),...,중랑_일_최대순간풍속(m/s),탄천_일_최대순간풍속(m/s),난지_일_평균풍속(m/s),서남_일_평균풍속(m/s),중랑_일_평균풍속(m/s),탄천_일_평균풍속(m/s),난지_불쾌지수(DI),서남_불쾌지수(DI),중랑_불쾌지수(DI),탄천_불쾌지수(DI)
0,2017-01-01,77.11,78.60,80.54,78.89,65.67,65.78,68.67,67.25,87.17,...,3.48,3.22,1.13,0.99,0.74,1.05,41.04,41.44,39.91,40.41
1,2017-01-02,77.49,77.28,79.31,77.73,61.67,61.50,65.11,61.75,89.00,...,6.99,5.25,1.65,1.53,1.47,1.42,44.26,44.93,44.02,44.85
2,2017-01-03,63.13,62.31,67.32,61.32,42.17,43.72,43.33,40.75,83.00,...,6.37,5.62,1.43,1.23,1.39,1.30,40.93,41.77,40.76,42.53
3,2017-01-04,60.61,61.59,63.29,60.07,32.00,28.94,36.44,32.00,81.67,...,6.23,5.40,1.27,1.20,1.20,1.18,43.66,44.23,43.70,44.77
4,2017-01-05,55.00,54.83,59.72,56.81,43.83,45.28,50.11,45.25,63.17,...,7.40,5.90,2.43,1.68,2.06,1.45,44.70,45.15,43.93,44.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3098,2025-06-26,88.15,84.70,85.41,84.18,77.17,70.22,73.78,72.75,96.83,...,4.91,4.50,1.02,1.16,0.99,1.08,69.53,70.51,70.56,70.87
3099,2025-06-27,79.09,75.54,79.29,76.58,61.50,58.61,62.44,59.75,91.83,...,4.46,5.03,0.97,0.97,0.93,1.08,73.74,74.61,74.05,74.62
3100,2025-06-28,85.97,81.58,84.40,80.02,79.00,73.44,76.00,69.75,93.00,...,4.87,5.30,0.90,1.11,0.81,1.02,76.13,77.13,76.46,77.47
3101,2025-06-29,79.58,76.18,75.91,72.94,62.50,58.33,60.56,58.50,92.50,...,5.81,5.98,1.35,1.48,1.28,1.40,77.05,77.61,77.56,78.31
3102,2025-06-30,77.01,74.05,73.72,70.85,62.67,59.89,58.78,57.50,89.67,...,6.61,6.40,1.58,1.69,1.39,1.55,78.24,78.88,78.79,79.36

In [104]:
pivoted.columns

Index(['날짜', '난지_평균습도(%)', '서남_평균습도(%)', '중랑_평균습도(%)', '탄천_평균습도(%)',
       '난지_최저습도(%)', '서남_최저습도(%)', '중랑_최저습도(%)', '탄천_최저습도(%)', '난지_최고습도(%)',
       '서남_최고습도(%)', '중랑_최고습도(%)', '탄천_최고습도(%)', '난지_습도표준편차', '서남_습도표준편차',
       '중랑_습도표준편차', '탄천_습도표준편차', '난지_일_평균기온(°C)', '서남_일_평균기온(°C)',
       '중랑_일_평균기온(°C)', '탄천_일_평균기온(°C)', '난지_일_최저기온(°C)', '서남_일_최저기온(°C)',
       '중랑_일_최저기온(°C)', '탄천_일_최저기온(°C)', '난지_일_최고기온(°C)', '서남_일_최고기온(°C)',
       '중랑_일_최고기온(°C)', '탄천_일_최고기온(°C)', '난지_일_최대순간풍속(m/s)',
       '서남_일_최대순간풍속(m/s)', '중랑_일_최대순간풍속(m/s)', '탄천_일_최대순간풍속(m/s)',
       '난지_일_평균풍속(m/s)', '서남_일_평균풍속(m/s)', '중랑_일_평균풍속(m/s)', '탄천_일_평균풍속(m/s)',
       '난지_불쾌지수(DI)', '서남_불쾌지수(DI)', '중랑_불쾌지수(DI)', '탄천_불쾌지수(DI)'],
      dtype='object')

In [105]:
pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3103 entries, 0 to 3102
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   날짜                3103 non-null   object
 1   난지_평균습도(%)        3103 non-null   float64
 2   서남_평균습도(%)        3103 non-null   float64
 3   중랑_평균습도(%)        3103 non-null   float64
 4   탄천_평균습도(%)        3103 non-null   float64
 5   난지_최저습도(%)        3103 non-null   float64
 6   서남_최저습도(%)        3103 non-null   float64
 7   중랑_최저습도(%)        3103 non-null   float64
 8   탄천_최저습도(%)        3103 non-null   float64
 9   난지_최고습도(%)        3103 non-null   float64
 10  서남_최고습도(%)        3103 non-null   float64
 11  중랑_최고습도(%)        3103 non-null   float64
 12  탄천_최고습도(%)        3103 non-null   float64
 13  난지_습도표준편차         3103 non-null   float64
 14  서남_습도표준편차         3103 non-null   float64
 15  중랑_습도표준편차         3103 non-null   float64
 16  탄천_습도표준편차         3103 non-null   float64
 17  난지_일_평균기온(°C)     3103 non-null   float64
 18  서남_일_평균기온(°C)     3103 non-null   float64
 19  중랑_일_평균기온(°C)     3103 non-null   float64
 20  탄천_일_평균기온(°C)     3103 non-null   float64
 21  난지_일_최저기온(°C)     3103 non-null   float64
 22  서남_일_최저기온(°C)     3103 non-null   float64
 23  중랑_일_최저기온(°C)     3103 non-null   float64
 24  탄천_일_최저기온(°C)     3103 non-null   float64
 25  난지_일_최고기온(°C)     3103 non-null   float64
 26  서남_일_최고기온(°C)     3103 non-null   float64
 27  중랑_일_최고기온(°C)     3103 non-null   float64
 28  탄천_일_최고기온(°C)     3103 non-null   float64
 29  난지_일_최대순간풍속(m/s)  3103 non-null   float64
 30  서남_일_최대순간풍속(m/s)  3103 non-null   float64
 31  중랑_일_최대순간풍속(m/s)  3103 non-null   float64
 32  탄천_일_최대순간풍속(m/s)  3103 non-null   float64
 33  난지_일_평균풍속(m/s)    3103 non-null   float64
 34  서남_일_평균풍속(m/s)    3103 non-null   float64
 35  중랑_일_평균풍속(m/s)    3103 non-null   float64
 36  탄천_일_평균풍속(m/s)    3103 non-null   float64
 37  난지_불쾌지수(DI)       3103 non-null   float64
 38  서남_불쾌지수(DI)       3103 non-null   float64
 39  중랑_불쾌지수(DI)       3103 non-null   float64
 40  탄천_불쾌지수(DI)       3103 non-null   float64
dtypes: float64(40), object(1)
memory usage: 994.1+ KB

In [ ]:
### 강수량 행정동 면적 비율로
rain = pd.read_csv('../data/processed/강수량.csv', encoding='utf-8-sig')
area = pd.read_csv('../data/processed/행정동_면적.csv', encoding='utf-8-sig')
center = pd.read_excel('../data/raw/물재생센터_행정동별.xlsx', engine='openpyxl')
option = pd.read_excel('../data/raw/물재생센터별 관할지역.xlsx', engine='openpyxl')

# 데이터 확인
print(rain.columns, area.columns, center.columns, option.clumns)
print('\n')
print(rain.shape, area.shape, center.shape, option.shape)

Index(['날짜', '행정구', '일_일강수량(mm)'], dtype='object') Index(['행정구', '행정동', '면적_km2'], dtype='object') Index(['자치구', '행정동', '처리센터'], dtype='object')


(74309, 3) (426, 3) (427, 3)

In [120]:
### 행정구 단위의 강수량 데이터를 물재생센터 단위로 변환 ###
## 단, 물재생센터는 전체 행정구를 관할할 수도 있고, 일부 동만 관할할 수도 있으므로:
# 전체(전역): 단순 합계
# 일부: 행정동 면적 비율을 곱한 가중 합계
# => 전역은 단순히 합산 일부는 동면적 비율로 강수량 가중치 계산 -> 최종적으로 날짜 × 센터별로 집계

# 관할구역이 전역 / 일부 구분
option_full = option[option['전체_일부'] == '전역']   # 전역: 해당 센터가 행정구 전체를 관할
option_partial = option[option['전체_일부'] == '일부'] # 일부: 해당 센터가 행정구의 일부 동만 관할

# 전역 처리: 행정구 단위 강수량을 센터에 단순 할당
rain_full = rain.merge(option_full, left_on='행정구', right_on='관할지역')
# → '행정구' 단위 강수량 데이터를 전역으로 관할하는 센터에 매핑
rain_full_centered = rain_full.groupby(['날짜', '물재생센터'], as_index=False)['일_일강수량(mm)'].sum()
# → 센터 × 날짜별로 강수량 합산 (전역이므로 단순 합)

# 일부 처리: 행정동 면적 비율로 가중 강수량 계산
#센터별 행정동 관할 정보(center)와 행정동 면적(area) 병합
partial_center = center.merge(area, left_on=['자치구', '행정동'], right_on=['행정구', '행정동'])
# option_partial에 해당하는 자치구(관할 행정구)만 필터링
partial_center = partial_center[partial_center['자치구'].isin(option_partial['관할지역'])]
# 자치구 기준으로 총 면적 합산 후, 각 동의 면적 비율 계산
partial_center['구면적합'] = partial_center.groupby('자치구')['면적_km2'].transform('sum')
partial_center['면적비율'] = partial_center['면적_km2'] / partial_center['구면적합'] # → 예: 성동구에서 센터가 관할하는 동이 차지하는 면적 비율
# 강수량(rain) 데이터와 병합 (행정구 == 자치구 기준)
rain_partial = rain.merge(partial_center, left_on='행정구', right_on='자치구')
# 면적비율을 곱한 가중 강수량 계산
rain_partial['가중강수량'] = rain_partial['일_일강수량(mm)'] * rain_partial['면적비율']
# 센터 × 날짜별로 가중강수량 합산
rain_partial_centered = rain_partial.groupby(['날짜', '처리센터'], as_index=False)['가중강수량'].sum()
# 컬럼 이름 정리
rain_partial_centered = rain_partial_centered.rename(columns={
    '처리센터': '물재생센터',
    '가중강수량': '일_일강수량(mm)'
})

# 전역 + 일부 결과 병합 및 정리
rain_final = pd.concat([rain_full_centered, rain_partial_centered], axis=0)
# → 센터 × 날짜 기준으로 다시 한 번 그룹화 (전역/일부 겹침 방지)
rain_final = rain_final.groupby(['날짜', '물재생센터'], as_index=False)['일_일강수량(mm)'].sum()
rain_final

               날짜    물재생센터  일_일강수량(mm)
0      2017-01-01  난지물재생센터         0.0
1      2017-01-01  서남물재생센터         0.0
2      2017-01-01  중랑물재생센터         0.0
3      2017-01-01  탄천물재생센터         0.0
4      2017-01-02  난지물재생센터         0.0
...           ...      ...         ...
12407  2025-06-29  탄천물재생센터         0.0
12408  2025-06-30  난지물재생센터         0.0
12409  2025-06-30  서남물재생센터         0.0
12410  2025-06-30  중랑물재생센터         0.0
12411  2025-06-30  탄천물재생센터         0.0

[12412 rows x 3 columns]

In [121]:
rain_final = rain_final.replace({
    '물재생센터': {
        '탄천물재생센터': '탄천',
        '중랑물재생센터': '중랑',
        '난지물재생센터': '난지',
        '서남물재생센터': '서남'
    }
})

rain_final

               날짜 물재생센터  일_일강수량(mm)
0      2017-01-01    난지         0.0
1      2017-01-01    서남         0.0
2      2017-01-01    중랑         0.0
3      2017-01-01    탄천         0.0
4      2017-01-02    난지         0.0
...           ...   ...         ...
12407  2025-06-29    탄천         0.0
12408  2025-06-30    난지         0.0
12409  2025-06-30    서남         0.0
12410  2025-06-30    중랑         0.0
12411  2025-06-30    탄천         0.0

[12412 rows x 3 columns]

In [128]:
rain_pivoted = rain_final.pivot(index='날짜', columns='물재생센터', values='일_일강수량(mm)')
rain_pivoted.columns = [f"{center}_일_일강수량(mm)" for center in rain_pivoted.columns]
rain_pivoted = rain_pivoted.reset_index()
# 소수점 첫째 자리까지 반올림
rain_pivoted.iloc[:, 1:] = rain_pivoted.iloc[:, 1:].round(1)
rain_pivoted

              날짜  난지_일_일강수량(mm)  서남_일_일강수량(mm)  중랑_일_일강수량(mm)  탄천_일_일강수량(mm)
0     2017-01-01            0.0            0.0            0.0            0.0
1     2017-01-02            0.0            0.2            1.5            0.0
2     2017-01-03            0.0            0.0            0.0            0.0
3     2017-01-04            0.0            0.0            0.0            0.0
4     2017-01-05            0.0            0.0            0.0            0.0
...          ...            ...            ...            ...            ...
3098  2025-06-26            4.5            3.9            5.5            2.1
3099  2025-06-27            0.0            0.0            0.0            0.0
3100  2025-06-28            2.5            3.2            6.5            0.5
3101  2025-06-29            0.5            0.0            0.0            0.0
3102  2025-06-30            0.0            0.0            0.0            0.0

[3103 rows x 5 columns]

In [129]:
### 강수량까지 데이터 합치기
merged = pivoted.merge(rain_pivoted, on='날짜', how='left')
merged

,날짜,난지_평균습도(%),서남_평균습도(%),중랑_평균습도(%),탄천_평균습도(%),난지_최저습도(%),서남_최저습도(%),중랑_최저습도(%),탄천_최저습도(%),난지_최고습도(%),...,중랑_일_평균풍속(m/s),탄천_일_평균풍속(m/s),난지_불쾌지수(DI),서남_불쾌지수(DI),중랑_불쾌지수(DI),탄천_불쾌지수(DI),난지_일_일강수량(mm),서남_일_일강수량(mm),중랑_일_일강수량(mm),탄천_일_일강수량(mm)
0,2017-01-01,77.11,78.60,80.54,78.89,65.67,65.78,68.67,67.25,87.17,...,0.74,1.05,41.04,41.44,39.91,40.41,0.0,0.0,0.0,0.0
1,2017-01-02,77.49,77.28,79.31,77.73,61.67,61.50,65.11,61.75,89.00,...,1.47,1.42,44.26,44.93,44.02,44.85,0.0,0.2,1.5,0.0
2,2017-01-03,63.13,62.31,67.32,61.32,42.17,43.72,43.33,40.75,83.00,...,1.39,1.30,40.93,41.77,40.76,42.53,0.0,0.0,0.0,0.0
3,2017-01-04,60.61,61.59,63.29,60.07,32.00,28.94,36.44,32.00,81.67,...,1.20,1.18,43.66,44.23,43.70,44.77,0.0,0.0,0.0,0.0
4,2017-01-05,55.00,54.83,59.72,56.81,43.83,45.28,50.11,45.25,63.17,...,2.06,1.45,44.70,45.15,43.93,44.98,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3098,2025-06-26,88.15,84.70,85.41,84.18,77.17,70.22,73.78,72.75,96.83,...,0.99,1.08,69.53,70.51,70.56,70.87,4.5,3.9,5.5,2.1
3099,2025-06-27,79.09,75.54,79.29,76.58,61.50,58.61,62.44,59.75,91.83,...,0.93,1.08,73.74,74.61,74.05,74.62,0.0,0.0,0.0,0.0
3100,2025-06-28,85.97,81.58,84.40,80.02,79.00,73.44,76.00,69.75,93.00,...,0.81,1.02,76.13,77.13,76.46,77.47,2.5,3.2,6.5,0.5
3101,2025-06-29,79.58,76.18,75.91,72.94,62.50,58.33,60.56,58.50,92.50,...,1.28,1.40,77.05,77.61,77.56,78.31,0.5,0.0,0.0,0.0
3102,2025-06-30,77.01,74.05,73.72,70.85,62.67,59.89,58.78,57.50,89.67,...,1.39,1.55,78.24,78.88,78.79,79.36,0.0,0.0,0.0,0.0

In [132]:
def discomfort_level(di):
    if di < 68:
        return '쾌적'
    elif di < 75:
        return '약간 불쾌'
    elif di < 80:
        return '불쾌'
    elif di < 84:
        return '매우 불쾌'
    else:
        return '극심한 불쾌'

# 불쾌지수 컬럼들 찾기
di_cols = [col for col in merged.columns if col.endswith('불쾌지수(DI)')]

# 센터별 등급 컬럼 추가
for col in di_cols:
    center = col.split('_')[0]
    merged[f'{center}_불쾌지수등급'] = merged[col].apply(discomfort_level)

merged

,날짜,난지_평균습도(%),서남_평균습도(%),중랑_평균습도(%),탄천_평균습도(%),난지_최저습도(%),서남_최저습도(%),중랑_최저습도(%),탄천_최저습도(%),난지_최고습도(%),...,중랑_불쾌지수(DI),탄천_불쾌지수(DI),난지_일_일강수량(mm),서남_일_일강수량(mm),중랑_일_일강수량(mm),탄천_일_일강수량(mm),난지_불쾌지수등급,서남_불쾌지수등급,중랑_불쾌지수등급,탄천_불쾌지수등급
0,2017-01-01,77.11,78.60,80.54,78.89,65.67,65.78,68.67,67.25,87.17,...,39.91,40.41,0.0,0.0,0.0,0.0,쾌적,쾌적,쾌적,쾌적
1,2017-01-02,77.49,77.28,79.31,77.73,61.67,61.50,65.11,61.75,89.00,...,44.02,44.85,0.0,0.2,1.5,0.0,쾌적,쾌적,쾌적,쾌적
2,2017-01-03,63.13,62.31,67.32,61.32,42.17,43.72,43.33,40.75,83.00,...,40.76,42.53,0.0,0.0,0.0,0.0,쾌적,쾌적,쾌적,쾌적
3,2017-01-04,60.61,61.59,63.29,60.07,32.00,28.94,36.44,32.00,81.67,...,43.70,44.77,0.0,0.0,0.0,0.0,쾌적,쾌적,쾌적,쾌적
4,2017-01-05,55.00,54.83,59.72,56.81,43.83,45.28,50.11,45.25,63.17,...,43.93,44.98,0.0,0.0,0.0,0.0,쾌적,쾌적,쾌적,쾌적
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3098,2025-06-26,88.15,84.70,85.41,84.18,77.17,70.22,73.78,72.75,96.83,...,70.56,70.87,4.5,3.9,5.5,2.1,약간 불쾌,약간 불쾌,약간 불쾌,약간 불쾌
3099,2025-06-27,79.09,75.54,79.29,76.58,61.50,58.61,62.44,59.75,91.83,...,74.05,74.62,0.0,0.0,0.0,0.0,약간 불쾌,약간 불쾌,약간 불쾌,약간 불쾌
3100,2025-06-28,85.97,81.58,84.40,80.02,79.00,73.44,76.00,69.75,93.00,...,76.46,77.47,2.5,3.2,6.5,0.5,불쾌,불쾌,불쾌,불쾌
3101,2025-06-29,79.58,76.18,75.91,72.94,62.50,58.33,60.56,58.50,92.50,...,77.56,78.31,0.5,0.0,0.0,0.0,불쾌,불쾌,불쾌,불쾌
3102,2025-06-30,77.01,74.05,73.72,70.85,62.67,59.89,58.78,57.50,89.67,...,78.79,79.36,0.0,0.0,0.0,0.0,불쾌,불쾌,불쾌,불쾌

In [134]:
merged.to_csv('../data/processed/total_merged.csv', encoding='utf-8-sig', index=False)